body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 30%;
    align-items: right;
}